{% comment %} Checkout page {% endcomment %}

{{ "cart.css" | asset_url | stylesheet_tag }}
{{ "cart.js" | asset_url | script_tag }}

<main class="cart" data-barba="container">
  <form action="/cart" method="post" novalidate>
    <div class="main-div">
      <div class="second-div">
        <div class="left">
          <div class="back-to-shop">
            <h1>My Cart</h1>
            <a href="/collections/all">
              <img src="{{ 'arrow.svg' | asset_url }}" alt="arrow" />

              Continue Shopping</a
            >
          </div>

          <div class="my-cart">
            {% if cart.item_count > 0 %} {% for item in cart.items %}
            <div class="item">
              <a
                href="{{ item.url | within: collections.all }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  src="{{ item | img_url: 'medium' }}"
                  alt="{{ item.title | escape }}"
                />
              </a>

              <div class="flex-column-center flex-1">
                <p class="item-title">
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                </p>
                {% if item.variant %}
                <div class="variant">{{ item.variant.title }}</div>
                {% endif %}
                <p>{{ item.price | money }}</p>
              </div>

              <div class="flex-column-center">
                <div class="number-input">
                  <img src="{{ "minus.svg" | asset_url }}"
                  class="decrease_value" data-item-id="{{ item.key }}">
                  <input
                    type="text"
                    name="updates[]"
                    id="updates_{{ item.key }}"
                    data-item-id="{{ item.key }}"
                    value="{{ item.quantity }}"
                    min="0"
                    max="{{ item.sku }}"
                  />
                  <img src="{{ "plus.svg" | asset_url }}" class="increase_value"
                  data-item-id="{{ item.key }}">
                </div>
              </div>

              <div class="flex-column-center">
                <p>{{ item.original_line_price | money }}</p>
              </div>

              <a
                href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                class="flex-column-center"
                target="_blank"
                rel="noopener"
              >
                <img src="{{ "cross.svg" | asset_url }}">
              </a>
            </div>
            {% endfor %} {% else %} Cart is empty {% endif %}

            <button type="submit" name="update" class="update-button">
              Update
            </button>
          </div>
        </div>

        {% if cart.item_count > 0 %}

        <div class="right">
          <h1>Order Summary</h1>
          <div class="order-summary">
            <p>Subtotal : {{ cart.total_price | money }}</p>
            <p class="shipping">Shipping calculated at checkout</p>
          </div>
          <p>Total : {{ cart.total_price | money }}</p>
          <p class="tax-included">Tax included</p>
          <button type="submit" name="checkout">Checkout</button>
        </div>

        {% endif %}
        <!-- <div class="contained">
        {% if cart.item_count > 0 %}
         <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
              ><img src="{{ "cross.svg" | asset_url }}"></a
            >
            {% if item.original_line_price != item.line_price %}{{
              item.original_line_price | money
            }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          
          {% else %}
          <h2>Cart</h2>
          Cart is empty {% endif %}
        </div>
      </div> -->
      </div>
    </div>
  </form>
</main>
