{% comment %} Checkout page {% endcomment %}

{{ "cart.css" | asset_url | stylesheet_tag }}
{{ "cart.js" | asset_url | script_tag }}
{{ "shipping-modal.css" | asset_url | stylesheet_tag }}

<main class="cart" data-barba="container">
  <form action="/cart" method="post" novalidate>
    <div class="main-div">
      <div class="second-div">
        <div class="left">
          <h1>My cart</h1>
          <div class="my-cart">
            {% for item in cart.items %}
            <div class="item">
              <a href="{{ item.url | within: collections.all }}">
                <img
                  src="{{ item | img_url: 'medium' }}"
                  alt="{{ item.title | escape }}"
                />
              </a>

              <div class="flex-column-center">
                <p>
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                </p>
                <p>{{ item.price | money }}</p>
              </div>

              <div class="flex-column-center">
                <div class="number-input">
                  <img src="{{ "minus.svg" | asset_url }}"
                  class="decrease_value" data-item-id="{{ item.key }}">
                  <input
                    type="text"
                    name="updates[]"
                    id="updates_{{ item.key }}"
                    data-item-id="{{ item.key }}"
                    value="{{ item.quantity }}"
                    min="0"
                    max="{{ item.sku }}"
                  />
                  <img src="{{ "plus.svg" | asset_url }}" class="increase_value"
                  data-item-id="{{ item.key }}">
                </div>
              </div>

              <div class="flex-column-center">
                <p>{{ item.original_line_price | money }}</p>
              </div>
            </div>
            {% endfor %}

            <button type="submit" name="update" class="update-button">
              Update
            </button>
          </div>
        </div>

        <div class="right">
          <h1>Order Summary</h1>
          <div class="order-summary">
            <p>Subtotal : {{ cart.total_price | money }}</p>
            <p>Shipping:</p>
          </div>
          <p>Total : {{ cart.total_price | money }}</p>
          <p class="tax-included">Tax included</p>
          <button type="submit" name="checkout">Checkout</button>
        </div>

        <!-- <div class="contained">
        {% if cart.item_count > 0 %}
            
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
              ><img src="{{ "cross.svg" | asset_url }}"></a
            >
            

            {% if item.original_line_price != item.line_price %}{{
              item.original_line_price | money
            }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          
          {% else %}
          <h2>Cart</h2>
          Cart is empty {% endif %}
        </div>
      </div> -->
      </div>
    </div>
  </form>

  <!--insert pop up modal here for shipping-->
  <div class="w3-container">
    <button
      onclick="document.getElementById('id01').style.display='block'"
      class="w3-button w3-black"
    >
      Estimate Shipping
    </button>

    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <header class="w3-container w3-teal">
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright"
            >&times;</span
          >
          <h2>Select Country</h2>
        </header>
        <div class="w3-container">
          <select class="js-example-basic-single" name="state">
            <option value="AL">Alabama</option>
            ...
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <footer class="w3-container w3-teal">
          <p>Update Cost</p>
        </footer>
      </div>
    </div>
  </div>
</main>
