{% comment %} Checkout page {% endcomment %}

{{ "cart.css" | asset_url | stylesheet_tag }}
{{ "cart.js" | asset_url | script_tag }}

<main class="cart" data-barba="container">
  <div class="main-div">
    <div class="second-div">
      <div class="left">
        <h1>My cart</h1>
        <div class="my-cart">
          <form action="/cart" method="post" novalidate>
            {% for item in cart.items %}
            <div class="item">
              <a href="{{ item.url | within: collections.all }}">
                <img
                  src="{{ item | img_url: 'medium' }}"
                  alt="{{ item.title | escape }}"
                />
              </a>

              <div class="flex-column-center">
                <p>
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                </p>
                <p>{{ item.price | money }}</p>
              </div>

              <div class="flex-column-center">
                <div class="number-input">
                  <img src="{{ "minus.svg" | asset_url }}"
                  class="decrease_value" data-item-id="{{ item.key }}">
                  <input
                    type="text"
                    name="updates[]"
                    id="updates_{{ item.key }}"
                    data-item-id="{{ item.key }}"
                    value="{{ item.quantity }}"
                    min="0"
                    max="{{ item.sku }}"
                  />
                  <img src="{{ "plus.svg" | asset_url }}" class="increase_value"
                  data-item-id="{{ item.key }}">
                </div>
              </div>

              <div class="flex-column-center">
                <p>{{ item.original_line_price | money }}</p>
              </div>
            </div>
            {% endfor %}

            <button type="submit" name="update" class="update-button">
              Update
            </button>

            <button type="submit" name="checkout">Checkout</button>
          </form>
        </div>
      </div>

      <div class="right"></div>
      <!-- <div class="contained">
        {% if cart.item_count > 0 %}

            

            
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
              ><img src="{{ "cross.svg" | asset_url }}"></a
            >
            

            <input
              type="number"
              name="updates[]"
              id="updates_{{ item.key }}"
              value="{{ item.quantity }}"
              min="0"
            />

            {% if item.original_line_price != item.line_price %}{{
              item.original_line_price | money
            }}{% endif %}
            {{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}

            <div>
              <p>Sub total : {{ cart.total_price | money }}</p>
              <button type="submit" name="update">Update</button>
              <button type="submit" name="checkout">Checkout</button>
            </div>
          
          {% else %}
          <h2>Cart</h2>
          Cart is empty {% endif %}
        </div>
      </div> -->
    </div>
  </div>
</main>
