{% comment %} FAQ page {% endcomment %}

{{ "faq.css" | asset_url | stylesheet_tag }}

<main class="faq" data-barba="container">
  <div class="contained">
    <h1 class="q1">
      Lorem ipsum dolor sit amet?
      <img src="{{ 'drop-down.svg' | asset_url }}" alt="drop-down" />
    </h1>
    <h1 class="q2">
      Lorem ipsum dolor sit amet?
      <img src="{{ 'drop-down.svg' | asset_url }}" alt="drop-down" />
    </h1>
    <h1 class="q3">
      Lorem ipsum dolor sit amet?
      <img src="{{ 'drop-down.svg' | asset_url }}" alt="drop-down" />
    </h1>
    <h1 class="q4">
      Lorem ipsum dolor sit amet?
      <img src="{{ 'drop-down.svg' | asset_url }}" alt="drop-down" />
    </h1>
    <h1 class="q5">
      Lorem ipsum dolor sit amet?
      <img src="{{ 'drop-down.svg' | asset_url }}" alt="drop-down" />
    </h1>
  </div>
</main>
